<div class="row-fluid">
  <div class="span12">
    <div class="record-pane">
      <br>
      <br>
      <h2><%= I18n.t("plugins.nyu_marcxml_export_plugin.title") %></h2>
      <p>version: <%=  I18n.t("plugins.nyu_marcxml_export_plugin.version") %><br>
      url: <a href='<%= I18n.t("plugins.nyu_marcxml_export_plugin.url") %>'><%= I18n.t("plugins.nyu_marcxml_export_plugin.url") %></a><br>
      </p>
      <br>
      <br>
    </div>
  </div>
</div>
